coaching_system_admin/.env
coaching_system_backend/.env
coaching_system_backend/coachsystem-cc61b-firebase-adminsdk-fbsvc-2bef743bcd.json
coaching_system_admin/node_modules/
coaching_system_backend/node_modules/